@charset "utf-8";
.poeui-content-block{
	.file-list{
		.cf-both{
			line-height: 3;
		    padding: 0 .1rem;
		    color: #DA2A13;
		    margin-bottom: .1rem;
		    display: none;
		    position:relative;
		    &:after{
		    	bottom:0;
		    	content:"";
		    	height: .01rem;
		    	position:absolute;
		    	width: 5rem;
		    	left: 0;
		    	background: -moz-linear-gradient(left, #62A8EA 0%, transparent 100%);
			    background: -webkit-linear-gradient(left, #62A8EA 0%,transparent 100%);
			    background: -o-linear-gradient(left, #62A8EA 0%,transparent 100%);
			    background: -ms-linear-gradient(left, #62A8EA 0%,transparent 100%);
			    background: linear-gradient(left, #62A8EA 0%,transparent 100%);
		    }
		}
		.f {
			float: left;
			width: .86rem;
			height: .88rem;
			position: relative;
			font-size: .12rem;
			text-align: center;
			display: block;
			margin:.02rem .02rem .15rem .02rem;
			cursor: default;
			figure {
				position: absolute;
				width: 100%;
				max-height: 100%;
				top:0;
				margin: 0;
				border:.01rem solid transparent;
				padding:.05rem;
				display: block;
				overflow: hidden;
				.file-logo {
					width: .5rem;
					height: .5rem;
					background-size:contain;
					background-repeat:no-repeat;
					margin: auto;
					background-position: center;
				}
				figcaption{
					line-height: 1.5;
					color:#353535;
					word-break: break-all;
				}
			}
			&:hover{
				figure {
					overflow: hidden;
					// background-color:rgba(255, 87, 34, 0.3);
					// border:.01rem solid #FF5722;
				    background-color: rgba(34, 90, 255, 0.3);
				    border: .01rem solid #229fff;
					z-index: 2;
				}
			}
			&.selected{
				figure {
					height: auto;
					max-height: initial;
					overflow: visible;
					// background-color:rgba(255, 87, 34, 0.5);
					// border:.01rem solid #FF5722;
				    background-color: rgba(39, 34, 255, 0.5);
				    border: .01rem solid #5d22ff;
					z-index: 2;
				}
			}
		}
		&:last-child:after{
			content:"";
			clear: both;
			display: block;
		}
	}
	&.list-view{
		.file-list{
			.f {
				float: none;
				width: 100%;
				margin:0;
				height:.62rem;
				font-size: .14rem;
				figure {
				    display: flex;
				    flex-direction: row;
					figcaption{
						flex:1;
						line-height: .2rem;
						text-align: left;
						div{
							margin:0 .1rem;
						}
					}
				}
				&.selected{
					height: auto;
					figure {
						position:static;
						max-height: 100%;
					}
				}
			}
		}
	}
	&.small-view{
		.file-list .f {
			width: .72rem;
			height: .72rem;
			figure {
				padding:.03rem;
				.file-logo {
					width: .3rem;
					height: .3rem;
				}
			}
		}
	}
	&.large-view{
		.file-list .f {
			width: 1.26rem;
			height: 1.28rem;
			figure {
				padding:.07rem;
				.file-logo {
					width: .9rem;
					height: .9rem;
				}
			}
		}
	}
	&.groupable:not(.list-view){
		.file-list .cf-both{
			display: block;
		}
	}

}

.img-viewer{
	.swiper-container{
		background-color: #f8f8f8;
		border-radius: .1rem;
		.swiper-slide{
			padding:.1rem;
			.item{
				height: 100%;
				background-position: center;
			    background-size: contain;
			    background-repeat: no-repeat;
			}
		}
	}
	.btn-outline{
		border:none;
	}
}
